body {
  background-color: #9038D7;
  box-sizing: border-box;
  font-family: 'Press Start 2P' , cursive;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  margin-bottom: 6rem;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.right {
  border: 5px solid rgb(6, 240, 15);
  color: rgb(6, 240, 15);
}

.wrong {
  border: 5px solid red;
  color: red;
  font-weight: 900;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.form {
  align-items: center;
  background-color: #3B0464;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: center;
  margin: 5rem auto;
  width: 40vw;
}

.form input {
  border: none;
  border-radius: 8px;
  height: 5vh;
  margin-bottom: 1.5rem;
  width: 25vw;
}

.form button {
  background-color: black;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-family: 'Press Start 2P' , cursive;
  font-size: 15px;
  font-weight: 900;
  height: 8vh;
  margin: 1rem;
  text-decoration: none;
  width: 8vw;
}

.form button:hover {
  background-color: #31E500;
}

.form button:active {
  position: relative;
  top: 1px;
}

.form button:disabled {
  cursor: default;
  opacity: 10%;
}

.form i {
  font-size: 2rem;
}

.header {
  align-items: center;
  background-color: black;
  color: #31E500;
  display: flex;
  font-size: 2rem;
  height: 12vh;
  justify-content: space-around;
  width: 100vw;
}

.header img {
  border-radius: 10px;
}

.question-category {
  background-color: black;
  border-radius: 10px;
  margin-top: 2rem;
  padding: 1rem;
  width: 30vw;
}

.questions {
  align-items: center;
  background-color: #3B0464;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  height: 55vh;
  line-height: 2.3rem;
  margin: 2rem auto;
  width: 60vw;
}

.question-text {
  width: 40vw;
}

.btn-answer {
  background-color: #3B0464;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem auto;
  width: 60vw;
}

.btn-answer button {
  background-color: black;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-family: 'Press Start 2P' , cursive;
  font-size: 1.5rem;
  font-weight: 900;
  height: 9.2vh;
  margin: 1rem 2rem;
  text-decoration: none;
  width: 25vw;
}

.btn-answer button:hover {
  background-color: #31E500;
}

.btn-next {
  background-color: black;
  border-radius: 18px;
  color: white;
  cursor: pointer;
  font-family: 'Press Start 2P' , cursive;
  font-size: 1.5rem;
  font-weight: 900;
  height: 9vh;
  margin: 1rem 2rem;
  text-decoration: none;
  width: 15vw;
}

.btn-next:hover {
  background-color: #31E500;
}

.btn-next:active {
  top: 2rem;
}

.btn-feedback button {
  background-color: black;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 900;
  height: 7vh;
  margin: 1rem 2rem;
  text-decoration: none;
  width: 8vw;
}

.btn-feedback button:hover {
  background-color: #31E500;
}

.btn-feedback button:active {
  top: 2rem;
}

.contador {
  align-items: center;
  background-color: black;
  border-radius: 15px;
  color: #31E500;
  display: flex;
  font-size: 1.8rem;
  height: 10vh;
  justify-content: center;
  margin: 2.5rem auto;
  width: 10vw;
}

.acabou {
  align-items: center;
  background-color: black;
  border-radius: 10px;
  color: #31E500;
  display: flex;
  font-size: 1.5rem;
  height: 8vh;
  justify-content: center;
  margin: 2.5rem auto;
  width: 20vw;
}

.mensagem h3 {
  align-items: center;
  background-color: black;
  border-radius: 10px;
  color: white;
  display: flex;
  font-size: 1.5rem;
  height: 10vh;
  justify-content: center;
  margin: 2rem auto;
  width: 35vw;
}

.feedback-pai {
  align-items: center;
  background-color: #3B0464;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  margin: 2rem auto;
  width: 40vw;
}

.feedback-pai h2 {
  color: #31E500;
  font-size: 2.3rem;
  margin: 5rem 0;
}

.ranking {
  background-color: #3B0464;
  border-radius: 15px;
  display: flex;
  height: 100vh;
  margin: auto;
  width: 30vw;
}

.player-ranking {
  color: #31E500;
  height: 10vh;
  padding: 2rem;
}

.pai-ranking h1 {
  align-items: center;
  background-color: black;
  border-radius: 15px;
  color: #31E500;
  display: flex;
  height: 5vw;
  justify-content: center;
  margin: 1rem auto;
  width: 25vw;
}

.item {
  margin: 1rem;
  margin-right: 3.5rem;
}

.player-ranking {
  background-color: black;
  border-radius: 15px;
  height: fit-content;
  width: 40vw;
  margin: 2rem 7rem;
}

.player-ranking img {
  border-radius: 10px;
}

.player-ranking li {
  margin-left: 2rem;
}

.pai-ranking ol {
  list-style: none;
}

.pai-ranking button {
  background-color: black;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: 'Press Start 2P' , cursive;
  font-size: 1.5rem;
  font-weight: 900;
  height: 9vh;
  margin: 1rem 2rem;
  text-decoration: none;
  width: 12vw;
}

.pai-ranking button:hover {
  background-color: #31E500;
}

.pai-ranking button:active {
  top: 2rem;
}

@media screen and ( min-width : 390px ) and ( max-width : 570px ) {

  .form {
    align-items: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 55vh;
    justify-content: center;
    margin: 10rem auto;
    width: 85vw;
  }

  .form input {
    border: none;
    border-radius: 8px;
    height: 4vh;
    margin-bottom: 1.5rem;
    width: 60vw;
  }

  .form button {
    border-radius: 8px;
    font-weight: 900;
    height: 7vh;
    margin: 1rem;
    width: 20vw;
  }

  .form i {
    font-size: 2.3em;
  }

  .App-logo {
    margin-bottom: 3rem;
  }

  .header img {
    height: 7vh;
    width: 15vw;
  }

  .header {
    font-size: 1rem;
    width: 100vw;
  }

  .btn-answer {
    flex-direction: column;
    padding: 1.7rem 0;
    width: 95vw;
  }

  .btn-answer button {
    font-size: 1.3rem;
    height: 10vh;
    margin: 1rem;
    width: 70vw;
  }

  .questions {
    font-size: 0.9rem;
    height: 70vh;
    line-height: 2rem;
    width: 95vw;
  }

  .question-text {
    font-size: 1.3rem;
    width: 85vw;
  }

  .question-category {
    width: 75vw;
  }

  .contador {
    width: 50vw;
  }

  .acabou {
    margin: 2rem auto;
    width: 95vw;
  }

  .mensagem h3 {
    width: 85vw;
  }

  .btn-feedback button {
    width: 50vw;
  }

  .feedback-pai {
    width: 95vw;
  }

  .btn-next {
    width: 40vw;
  }

  .feedback-pai h2 {
    font-size: 1.5rem;
  }

  .mensagem h3 {
    font-size: 1.5rem;
  }

  .pai-ranking h1 {
    height: 7vh;
    width: 92vw;
  }

  .ranking {
    width: 95vw;
  }

  .ai {
    width: 85vw;
  }

  .pai-ranking button {
    width: 50vw;
  }

  .player-ranking {
    margin-left: -0;
  }
}
